@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="/css/style.css" type="text/css" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

<body>
    <main>
        <div class="containerBusca">
            <div class="divBusca">
                <img src="./img/complementares/pesquisa.png" alt="pesquisa" />
                <input type="text" class="textoBusca" placeholder="Pesquisar...">
                <input type="button" class="botaoBusca" value="Pesquisar">
            </div>
        </div>

        <div class="slideshow-container">

            <!-- Imagens com largura total, com número de contagem e texto de legenda -->
            <div class="mySlides fade">
                <img src="./img/banners/banner moe 1.jpg" style="width:100%" height="350" alt="banner moe">
            </div>

            <div class="mySlides fade">
                <img src="./img/banners/banner moe 2.jpg" style="width:100%" height="350" alt="banner moe">
            </div>

            <div class="mySlides fade">
                <img src="./img/banners/banner moe 3.jpg" style="width:100%" height="350" alt="banner moe">
            </div>

            <!-- Botões de "Próximo" e "Anterior" -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

        </div>
        <!-- Circulos para navegação -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>

        <div class="containerProdutos">
            <div class="titulo">
                <h2>Produtos em Destaque</h2>
            </div>
            <div class="cartao">
                <a href="/Venda/Adicionar"><img src="./img/sala/adega-moveis de encaixe-moe-compensado-1.jpg"
                        height="250" width="320" alt="adega moveis de encaixe"></a>
                <div class="descricao">
                    <h2>Adega modular</h2>
                    <h3>R$60,00</h3>
                </div>
            </div>
            <div class="cartao">
                <a href="/Venda/Adicionar"><img
                        src="./img/quarto/apoio para notebook-moveis de encaixe-moe-compensado-1.jpg" height="250"
                        width="320" alt="apoio notebook moveis de encaixe"></a>
                <div class="descricao">
                    <h2>Apoio de notebook</h2>
                    <h3>R$45,00</h3>
                </div>
            </div>
            <div class="cartao">
                <a href="/Venda/Adicionar"><img
                        src="./img/área externa/banco-simples-área-externa-moveis de encaixe-moe-compensado-madeira-1.jpg"
                        height="250" width="320" alt="banco simples moveis de encaixe"></a>
                <div class="descricao">
                    <h2>Banco simples</h2>
                    <h3>R$75,00</h3>
                </div>
            </div>
        </div>

        <div class="containerProdutos">
            <div class="titulo">
                <h2>Promoção da semana</h2>
            </div>
            <div class="cartao">
                <a href="/Venda/Adicionar"><img
                        src="./img/sala/cadeira-simples-sala-moveis de encaixe-moe-compensado-madeira-1.jpg"
                        height="250" width="320" alt="cadeira simples moveis de encaixe"></a>
                <div class="descricao">
                    <h2>Cadeira</h2>
                    <h3>R$120,00</h3>
                </div>
            </div>
            <div class="cartao">
                <a href="/Venda/Adicionar"><img
                        src="./img/quarto/criado-mudo-quarto-moveis de encaixe-moe-compensado-madeira-1.jpg"
                        height="250" width="320" alt="criado mudo moveis de encaixe"></a>
                <div class="descricao">
                    <h2>Criado-mudo</h2>
                    <h3>R$95,00</h3>
                </div>
            </div>
            <div class="cartao">
                <a href="/Venda/Adicionar"><img
                        src="./img/área externa/jardineira-floreira-estante-moveis de encaixe-moe-compensado-3.jpg"
                        height="250" width="320" alt="jardineira floreira moveis de encaixe"></a>
                <div class="descricao">
                    <h2>Jardineira para apartamento</h2>
                    <h3>R$85,00</h3>
                </div>
            </div>
        </div>

        <div class="containerProdutos">
            <div class="titulo">
                <h2>Novidades</h2>
            </div>
            <div class="cartao">
                <a href="/Venda/Adicionar"><img
                        src="./img/sala/poltrona-base-sala-estar-moveis de encaixe-moe-compensado-madeira-1.jpg"
                        height="250" width="320" alt="poltrona moveis de encaixe"></a>
                <div class="descricao">
                    <h2>Poltrona</h2>
                    <h3>R$240,00</h3>
                </div>
            </div>
            <div class="cartao">
                <a href="/Venda/Adicionar"><img
                        src="./img/sala/rack-sala-estar-moveis de encaixe-moe-compensado-madeira-1.jpg" height="250"
                        width="320" alt="rack moveis de encaixe"></a>
                <div class="descricao">
                    <h2>Rack</h2>
                    <h3>R$250,00</h3>
                </div>
            </div>
            <div class="cartao">
                <a href="/Venda/Adicionar"><img
                        src="./img/sala/sofá-modular-base-sala-estar-moveis de encaixe-moe-compensado-madeira-3.jpg"
                        height="250" width="320" alt="sofá moveis de encaixe"></a>
                <div class="descricao">
                    <h2>Sofá modular</h2>
                    <h3>R$280,00</h3>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/script.js"></script>
    </main>
</body>