@{
    ViewData["Title"] = "Sobre";
}

<body>
    <main>
        
        <div class="containerSobre">
            <img src="~/img/banners/banner_apresentação_1.JPG" width="100%">
        </div>
        <div class="containerTextoSobre">
            <div class="titulo">
                <h2>DO IT YOURSELF</h2>
            </div>
            <div class="textoSobre">
                <p>Incorporando o conceito de "faça você mesmo" no desenho de cada peça, a MOE busca traduzir praticidade
                através da montagem simples e intuitiva sem necessidade de ferramentas complexas ou montadores
                profissionais.</p>
            </div>
        </div>
    </main>
</body>
